/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

#block-site-agree-access-cookies{
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #444;
  opacity: 0.9;
  padding: 10px 20px;
  z-index: 9999;
  color:#fff;
}
#block-site-agree-access-cookies .agree-cookies-text a{
  color:#fff;
}    
#block-site-agree-access-cookies .agree-cookies-text p{
  margin: 0px;
  padding: 0px;
}
#block-site-agree-access-cookies .agree-cookies-text{
  float:left;
  width: 80%;
  text-align: left;
}
#block-site-agree-access-cookies .agree-buttom-access-ok{
  float:right;
  width: 20%;
  text-align: right;
}